<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="LocalBots" type="Client.Config.LocalBotsConfigSection,Client"/>
    <section name="VSSearchInfo" type="Client.Config.VSSearchInfoConfigSection,Client"/>    
	</configSections>
	<LocalBots>
		<Bots>
			<Bot TeamName="Hider" Path="BaseStrategies\hider.exe"/>			
			<Bot TeamName="Hunter" Path="BaseStrategies\hunter.exe"/>			
			<Bot TeamName="Random mover" Path="BaseStrategies\random_mover.exe"/>				
		</Bots>
	</LocalBots>
  <VSSearchInfo>
    <VSVersions>
      <VSVersion CheckNodeName="VisualStudio.DTE.14.0" ToolsVariableName="VS140COMNTOOLS" VCDirectoryName="VC" PlayerSubdir="vs15"/>
      <VSVersion CheckNodeName="VisualStudio.DTE.12.0" ToolsVariableName="VS120COMNTOOLS" VCDirectoryName="VC" PlayerSubdir="vs13"/>
      <VSVersion CheckNodeName="VisualStudio.DTE.11.0" ToolsVariableName="VS110COMNTOOLS" VCDirectoryName="VC" PlayerSubdir="vs12"/>
      <VSVersion CheckNodeName="VisualStudio.DTE.10.0" ToolsVariableName="VS100COMNTOOLS" VCDirectoryName="VC" PlayerSubdir="vs10"/>      
    </VSVersions>
  </VSSearchInfo>
	<appSettings>
		<add key="MaximumBotPerFight" value="2"/>
		<add key="SimulatorPath" value="simulator\Server.exe"/>		
		<add key="StrategiesDirectory" value="Strategies"/>
    <add key="ProjectPath" value="player"/>
    <add key="SubmissionDirectoryName" value="Submissions"/>
    <add key="BoostDir" value="F:\Dist\boost_1_59_0"/>
    <add key="CompilerName" value="cl.exe"/>
    <add key="LinkerName" value="link.exe"/>
    <!--{0} - output obj path, {1} - project path, {2} - source file, {3} - boost dir -->
    <add key="CompileString" value="/nologo /MD /W3 /EHsc /O2 /Fo&quot;{0}&quot; /I&quot;{1}/src/&quot; /I&quot;{1}/src/Client/&quot; /I&quot;{3}&quot; /FD /c &quot;{2}&quot;"/>

    <!--{0} - output exe path, {1} - project path, {2} - obj file, {3} - boost dir -->
    <add key="LinkString" value="/OUT:&quot;{0}&quot; /LTCG &quot;common.lib&quot; &quot;kernel32.lib&quot; &quot;user32.lib&quot; &quot;gdi32.lib&quot; &quot;winspool.lib&quot; &quot;comdlg32.lib&quot; &quot;advapi32.lib&quot; &quot;shell32.lib&quot; &quot;ole32.lib&quot; &quot;oleaut32.lib&quot; &quot;uuid.lib&quot; &quot;odbc32.lib&quot; &quot;odbccp32.lib&quot; /MACHINE:i386 /INCREMENTAL:NO /SUBSYSTEM:CONSOLE /NOLOGO /LIBPATH:&quot;{3}\stage\lib&quot; /LIBPATH:&quot;{1}/lib/&quot; &quot;{1}/obj/Client.obj&quot; &quot;{1}/obj/main.obj&quot; &quot;{2}&quot;"/>
	</appSettings>
</configuration>